<h1>New Crawl</h1>

<%= form_for @crawl , method: :post do |f| %>
<%= f.label "Registration Number" %>
<%= f.text_field(:reg_no) %>
<%= f.label "Name" %>
<%= f.text_field(:name) %>
<%= f.label "Date of Birth" %>
<%= f.text_field(:dob) %>
<br/><br/>
<%= f.submit "Submit" %>
<% end %>

<%#= render 'form', crawl: @crawl %>

<%#= link_to 'Back', crawls_path %>